<!DOCTYPE html>
<html>
<head>
    <title>Chart Configuration</title>
</head>
<body>
    <h1>Chart Configuration</h1>
    <form action="/generate_chart" method="post">
        <label for="attribute">Attribute:</label>
        <select id="attribute" name="attribute">
            <!-- Add attribute options here -->
            <option value="population">Population</option>
            <option value="area">Area</option>
            <option value="income">Income</option>
        </select>
        <br>
        <label for="interval">Interval:</label>
        <select id="interval" name="interval" multiple>
            <!-- Add interval options here -->
            <option value="50000-100000">50000-100000</option>
            <option value="100001-150000">100001-150000</option>
            <option value="150001-200000">150001-200000</option>
            <option value="200001-250000">200001-250000</option>
            <option value="> 250000">> 250000</option>
        </select>
        <br>
        <input type="submit" value="Generate Chart">
    </form>
</body>
</html>
