<!DOCTYPE html>
<html>

<head>
    <title>Restricted Queries</title>
</head>

<body>
    <h1>Restricted Queries</h1>
    <form method="POST" action="/restricted_results">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>
        
        <label for="distance">Distance (in km):</label>
        <input type="text" id="distance" name="distance"><br><br>
        
        <label for="start_time">Start Time:</label>
        <input type="text" id="start_time" name="start_time"><br><br>
        
        <label for="end_time">End Time:</label>
        <input type="text" id="end_time" name="end_time"><br><br>
        
        <label for="min_magnitude">Minimum Magnitude:</label>
        <input type="text" id="min_magnitude" name="min_magnitude"><br><br>
        
        <label for="max_magnitude">Maximum Magnitude:</label>
        <input type="text" id="max_magnitude" name="max_magnitude"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>

</html>
