<!-- templates/restricted_queries.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Restricted Queries</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Restricted Queries</h1>
    <form action="/restricted_queries" method="POST">
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required>
        <br>
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required>
        <br>
        <label for="distance">Distance (in km):</label>
        <input type="number" id="distance" name="distance" required>
        <br>
        <input type="submit" value="Execute Query">
    </form>
</body>
</html>
